<div id="gardens-container">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">Moss, Bark and Succulents</h1>
			</div>
			<div class="col-md-12 col-sm-12 product-col" >
				<div *ngFor="let garden of gardens; let i = index">
					<div class="product-img-box">
						<a [routerLink]="'/detail/'+garden?.id"> 
							<img [src]="garden?.images[0]" class="img-fluid product-img">
						</a>
						<div class="product-text-bg">
							<div class="product-text">{{garden?.name}}&nbsp;&pound;{{garden?.price}} </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>