	<div id="gardens-container">	
		
	<div class="container">
		<div class="row">
<div class="col-12">
	<h1 class="text-center">Gardens</h1>
	<!-- <ul>
		<li *ngFor="let item of items | async">
				<pre>{{ item.name }}</pre>
		</li>
</ul>	 -->
</div>
<div class="col-md-4 col-sm-6 product-col">
	<div class="product-img-box">
	  <a routerLink="/detail/1"> <img src="assets/images/img1.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">Begonia £10</div>
	</div>
	  <div class="product-img-box">
	  <a routerLink="/detail/2"> <img src="assets/images/img4.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">White Flowers £15</div>				  
  </div>
	  <div class="product-img-box">
	  <a routerLink="/detail/3"> <img src="assets/images/img6.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">Palm and Begonias £15</div>				  
  </div>			  
</div>
<div class="col-md-4 col-sm-6 product-col">
	<div class="product-img-box">
	  <a routerLink="/detail/4"> <img src="assets/images/img3.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">Small Aspargus Fern £5</div>				  
		</div>
	  <div class="product-img-box">
	  <a routerLink="/detail/5"> <img src="assets/images/img7.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">Beaker Terrarium £30</div>				  
  </div>
</div>
<div class="col-md-4 col-sm-6 product-col">
	<div class="product-img-box">
	  <a routerLink="/detail/6"> <img src="assets/images/img2.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">Moss and Pines Terrarium £15</div>				  
		</div>
		<div class="product-img-box">
	  <a routerLink="/detail/7"> <img src="assets/images/img5.jpg" class="img-fluid product-img"></a>
	  <div class="product-text-bg"></div>
	  <div class="product-text">Aspargus Fern £10</div>				  
  </div>
</div>						
</div>
</div>  
</div>
