	<div class="container">
		<div class="row">

			<div class="col-md-6 col-lg-7 col-12">	
				<!-- <ngb-carousel>
					<ng-template ngbSlide>
						<img src="{{garden?.image}}" alt="Random first slide" class="img-fluid mx-auto d-block">
					</ng-template>
					<ng-template ngbSlide>
						<img src="{{garden?.image}}" alt="Random second slide" class="img-fluid mx-auto d-block">
					</ng-template>
				</ngb-carousel>								 -->
		  </div>
			<div class="col-md-6 col-lg-5 col-12">
				<h1 class="text-center h2 hidden-xs" >{{ garden?.name }}</h1>
				<div class="clearfix">&nbsp;</div>
				<h2 class="h4">£{{garden?.price}}</h2>
				<p class="small-font">Plus Shipping (£).</p>
				<p class="small-font">{{height}}Gardens will normally take 2/3 days to get ready before shipping. Due to their perishable nature, orders are limited to the UK.</p>
				<div class="clearfix">&nbsp;</div>
				<p>{{garden?.description}}</p>
				<ngx-paypal [config]="payPalConfig"></ngx-paypal>			
			</div>	
			<div class="col-12">
				<div class="clearfix">&nbsp;</div>
				<div class="clearfix">&nbsp;</div>
				
			</div>			
			<div class="col-12">
				<button class="btn btn-primary primary-btn" (click)="goBack()">Back</button>
			</div>						
		</div>
	</div>			
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>