/* You can add global styles to this file, and also import other style files */

/*****  general  *****/

a {
	text-decoration: none !important;
}

*:focus{
  outline: none;
}

body {
  background-color: #1a1100 !important;
  background-image: url("assets/images/dark-wood.png");
}

html, body, app-root{
  height: 100%;
}

app-root{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, p, a, td, li {
	color: #fff !important;
}

h1{
  margin: 6px 40px;
  font-size: 250%;
}

.primary-btn {
	background-color: #14440e;
	border-color: #14440e;
}

.primary-btn:hover {
	background-color: #248219;
	border-color: #248219;
}

.lds-dual-ring {
	margin-top: 200px;
  display: inline-block;
  width: 84px;
  height: 84px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 86px;
  height: 86px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.left-side-img {
	position: fixed;
	left: 0;
	top: 0;
	width: 180px;
	z-index: -1;
}

/*****  media queries  *****/

@media (min-height: 650px) {
  .left-side-img {
  	width: auto;
  }
}

@media (min-height: 1050px) {
  .left-side-img {
  	display: none;
  }
}

@media (min-width: 768px) {
	.general-container{
		margin-left: 175px;
		margin-right: 50px;
	} 
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

 
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
