.swiper-container, .swiper-slide, .swiper-slide img {
	max-height: 500px;
}

.swiper-image1{
    background: url(/assets/images/img1.jpg);
    height: 500px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 8px 8px white inset;
}
